*
	box-sizing border-box

html
	font-size 10px

body
	font-family $font-main
	font-size $fz-default
	color $color-text

.container
    width 100%
    padding 0 15px
    // max-width 
    margin 0 auto

a
	text-decoration none

input, textarea
	border none
	-webkit-appearance none
